.hero {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; /* instead of center */
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  padding-top: 10vh; /* adjust this to taste */
}


.hero-text .header1 {
    color: #115F64;
    text-shadow: 0 0 0px #115F64, 0 0 0px #115F64;
    font-size: clamp(3rem, 6vw, 4rem);
}

.hero-text h2 {
    color: #115F64;
    font-size: clamp(1.7rem, 4vw, 2.3rem);
}

.hero-text p.lead {
  font-size: clamp(0.9rem, 3vw, 1.4rem);
  letter-spacing: 2px;
}


.hero {
    background-color: url('planet-bg.jpg') no-repeat center center/cover;
    background: black;
    background-image: none;
}

.player-input {
  background-color: white;
  color: #00faff; 
  border: 2px solid #00faff;
  text-shadow: none;
  border: 2px solid #115F64;
}

.player-input::placeholder {
  color: #115F64;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  text-align: center;
}

.search-btn {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  background-color: white;
  color: #115F64;
  border: 2px solid #115F64;
  transition: 0.25s ease;
}

.search-btn:hover {
  background-color: #115F64;
  box-shadow: 0 0 6px #00faff, 0 0 6px rgba(0, 255, 255, 0.6);
}

.full-list-btn {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  border: 2px solid black;
  color: black;
  background-color: #00b1b4;
}

